<!-- templates/cadastro_medico.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Médico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Cadastrar Médico</h1>

    <form action="{{ url_for('cadmedico') }}" method="POST">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome" required>

        <br><br>

        <label for="especialidade">Especialidade:</label>
        <input type="text" name="especialidade" id="especialidade" required>

        <br><br>

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>

        <br><br>

        <label for="senha">Senha:</label>
        <input type="password" name="senha" id="senha" required>

        <br><br>

        <button type="submit">Cadastrar</button>
    </form>

    <br>
    <a href="/">Voltar para o Login</a>
</body>
</html>
